@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  margin: 0;
}

h2{
    font-size: 2rem;
}

.container {
  text-align: center;
}
